.heroSection {

  background-color: var(--color-white);

  .containerHeroInfo {
    max-width: 1440px;
    padding: 24px 0 98px 0; /* Прибираємо горизонтальні падінги */
    display: flex;
    gap: 24px;
    margin: 0 auto;
    border-bottom: 1px solid var(--color-tertiary);

  }

  .container {
    max-width: 1440px;
    padding: 24px 0 55px 0; /* Прибираємо горизонтальні падінги */
    margin: 0 auto;
    border-bottom: 1px solid var(--color-tertiary);
  }

  .heroBox {
    display: flex;
    gap: 24px;

    .infoSection {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 24px;
    }

    .weatherWidget {
      border: 1px solid var(--color-tertiary);
      border-radius: 8px;
      padding: 4px;
    }

    .weatherWidget p {
      margin-bottom: 10px;
    }

    .heroImg {
      width: 100%;
      height: 533px;
      border-radius: 8px;
      object-fit: cover;
    }



    .buttonUp {
      margin-top: 4px;
      margin-left: auto;
      width: 46px;
      height: 46px;
      cursor: pointer;
      border-radius: 8px;
      border: 1px solid var(--color-accent);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.2s ease;
    }

    .buttonUp:hover {
      background-color: var(--color-accent);
      img {
        filter: brightness(0) invert(1);
      }
    }

    .carouselBox {
      width: 100%;
      max-width: 940px;

      .carouselItem {
        width: fit-content;
        background-size: cover;
        background-position: center;
        position: relative;

        .rightArrowButton {
          opacity: 0;
          padding: 0;
          margin: 0;
          border: none;
          cursor: pointer;
          position: absolute;
          top: 50%;
          transition: opacity 0.3s ease, filter 0.3s ease;
          transform: translateY(-50%);
          right: 40px;
        }

        .leftArrowButton {
          opacity: 0;
          padding: 0;
          margin: 0;
          border: none;
          cursor: pointer;
          position: absolute;
          top: 50%;
          transition: opacity 0.3s ease, filter 0.3s ease;
          transform: translateY(-50%);
          left: 40px;
        }

        .leftArrowButton:hover,
        .rightArrowButton:hover {
          filter: contrast(0.5)
        }



        .rightArrowButton:focus-visible,
        .leftArrowButton:focus-visible {
          outline: none;
        }

        .carouselContent {
          position: absolute;
          bottom: 0;
          left: 0;
          height: 100%;
          display: flex;
          justify-content: end;
          flex-direction: column;
          width: 100%;
          padding: 20px;
          border-radius: 8px;
          background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(205, 205, 205, 0) 60%);
        }

        .carouselTitle {
          margin: 0;
          font-weight: 800;
          font-size: 32px;
          color: var(--color-white);
        }

        .carouselTime {
          margin: 0;
          font-size: 11px;
          font-weight: 600;
          color: #fff;
        }
      }

      .carouselItem:hover {
        .rightArrowButton, .leftArrowButton {
          opacity: 1;
        }
      }
    }
  }
}




@media (max-width: 1400px) {
 .heroSection {

   .container {
     padding: 24px 80px 50px 80px;
   }
   .heroBox {
     .infoSection {
       display: none;
     }

     .carouselBox {
       max-width: 100%;
     }
   }
 }
}

@media (max-width: 1200px) {
  .heroSection {
    .containerHeroInfo {
      padding: 24px 40px 98px 40px;;
    }
    .container {
      padding: 24px 40px 50px 40px;
    }
  }
}


@media (max-width: 1000px) {
  .heroSection {
    .containerHeroInfo {
      flex-direction: column;
      padding: 24px 20px 40px 20px;;
    }
    .container {
      padding: 24px 20px 50px 20px;
    }
  }
}


@media (max-width: 480px) {
  .heroSection {
    .container {
      padding: 24px 16px 50px 16px;
    }
  }
}