.weatherSection {
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.sectionTitle {
  font-size: 20px;
  font-weight: 600;
}

.titleBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper {
  /* Додаткові стилі для погодного віджета, якщо потрібно */
}
