.weatherSection {
  gap: 0px;
  display: flex;
  flex-direction: column;
}

.sectionTitle {
  font-size: 20px;
  font-weight: 600;
}

.titleBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.weatherContainer {
  /* Контейнер для погодного віджета sinoptik */
  max-width: 100%;
  overflow: hidden;
}

.wrapper {
  /* Додаткові стилі для погодного віджета, якщо потрібно */
}
