@import "tailwindcss";

:root {
  /* Основні кольори проекту */
  --color-primary: #101010;      /* Чорний */
  --color-secondary: #5B5B5B;    /* Темно-сірий */
  --color-tertiary: #999999;     /* Світло-сірий */
  --color-white: #FFFFFF;        /* Білий */
  --color-accent: #c7084f;       /* Маджента/рожевий */
  --color-accent-hover: #DA0457;
  /* --color-title: #c7084f; */
  --color-title: #000;
  --color-border: #CFCFCF /* Маджента/рожевий ховер */
}

p, h1, h2, h3, h4, h5, h6, ol, ul, dl {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-open-sans), sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/*ANTD*/
.ant-carousel .slick-dots li button {
  width: 12px;
  opacity: 1;
  background: #CFCFCF;
}