.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 80px;
}

/* Адаптивні стилі для різних розмірів екрану */
@media (max-width: 1200px) {
  .container {
    padding: 0 40px;
  }
}

@media (max-width: 1000px) {
  .container {
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 16px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 12px;
  }
}
